<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styleNew.css">
    <title>New Post</title>
</head>
<body>
    <h1>Create a new post</h1>

    <form method="post" action="/Posts">
        <input class="text" placeholder="Username" name="username">
        <br>
        <br>
        <br>
        <textarea class="text" rows="10" cols="35" placeholder="What you are thinking about..." name="content" ></textarea>
        <br>
        <br>
        <br>
        <button class="btn">Submit Post</button>
    </form>
</body>
</html>